* {
  margin: 0;
  border: none;
}

.App {
  height: 90vh;
}

#header {
  background-color: rgba(228, 13, 13, 0.774);
  color: white;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 0px 16px 0px;
}

.key-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#footer {
  background-color: rgba(255, 65, 65, 0.774);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 18%;
}

.add-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.muscle-side-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-left: 3px solid rgba(0, 0, 0, 0.096);
  padding-left: 10px;
}

.muscle-side-bar p {
  color: rgb(46, 46, 255);
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}

.info-box p {
  word-wrap: break-word;
  flex-wrap: wrap;
}

/* MUSCLE DIAGRAM */
.diagramContainer {
  display: flex;
  align-items: center;
  background-image: url("../public/img/muscularDiagram.jpg");
  background-size: 907px;
  background-repeat: no-repeat;
  background-position: center left;
  margin-top: 15px;
}

.diagram-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.features-container {
  display: flex;
  flex-direction: column;
}

/* Colorkey Legend for Muscle Diagram*/
.colorkey h4 {
  color: rgb(0, 110, 255);
  font-size: 25px;
  padding-bottom: 18px;
}

.colorkey p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.664);
}
/* Diagram Image Selector Box */

.muscle-title-header {
  color: blue;
  padding-top: 10px;
}

.imageoptionselectorbox {
  display: flex;
  flex-direction: row;
}

.imageoptionselectorbox img {
  border: 1px solid rgba(0, 0, 0, 0.418);
}

/* Diagram Images */
.selectorimage {
  margin-left: 0.2rem;
  height: 5.75rem;
  width: 3.75rem;
}

/* Diagram SVG'S */
path {
  opacity: 0.25;
}

svg path:hover {
  opacity: 0.55;
  transition: ease-in-out;
  transition-duration: 50ms;
  fill: rgb(4, 0, 255);
}
.layer2:hover path {
  fill: purple !important;
  opacity: 0.55 !important;
  transition: 300ms ease-in-out;
}
.infraspinatus:hover path,
.trapezius:hover path,
.bicep-femoris:hover path,
.gracilis:hover path,
.vastus-lateralis:hover path,
.gastrocnemius:hover path,
.extensor-digitorium-longus:hover path,
.tibialis-anterior:hover path,
.sartorius:hover path,
.pectoralis-major:hover path,
.iliotibial-tract:hover path,
.biceps-brachii:hover path,
.deltoid:hover path,
.subclavious:hover path,
.rectus-femoris:hover path,
.vastus-medialis:hover path,
.tensor-fasciae-latae:hover path,
.latimus-dorsi:hover path,
.obliques:hover path {
  fill: purple !important;
  opacity: 0.55 !important;
  transition: 300ms ease-in-out;
}

/* Muscular Diagram Media Query */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .diagram-container {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .App {
    display: block;
  }
  .diagram-container {
    display: block;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .muscle-side-bar {
    border-top: 2px solid rgba(0, 0, 0, 0.185);
    padding-top: 10px;
  }
}
